/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color:#F0F8FF;
}
.container {
  background-color:rgb(255,255,255);
}

.post-content {
  border-bottom:solid 3px rgb(230,230,230);
  margin-bottom: 2px;
  padding:5px;
}
.post-title {
  font-weight: bold;
  font-size: 24px;

}
.post-username {
  
  color:rgb(128,128,128);
  font-size: 12px;
}
.post-date{
  font-style: italic;
}
.post-content-detail {
  background-color:rgb(250,250,255);
  padding:5px;
}
.post-options {
  color:rgb(128,0,0);
}

.error {
  color: rgb(200,0,0)
  
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.categorylist ul{
  list-style:none;
}
.categorylist li {
  background:url("../images/Blank-Folder-icon.png") no-repeat left center;
  line-height: 32px;
  padding-left: 45px;

}  

.itemslist ul {
  list-style:none;
}

.itemslist li {
  background:url("../images/Transparency.png") no-repeat left center; 
  line-height: 32px;
  padding-left: 45px;
}

.categorylist .selected {
  color:red;
  background-color:rgb(240,240,240);
}
.flashes {
  color:white;
  background-color:#99cc00;
  list-style:none;

}