{% extends "base.html" %}

{% block title %} My catalog {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<form id="new_category" method="post">
		  <div class="form-group">
		    <label for="categoryName">Category Name:</label>
		    <input type="text" class="form-control" name="categoryName"  id="categoryName">
		  </div>

		  <button type="submit" class="btn btn-primary">Save</button>
		 </form>
	</div>
</div>

<!-- verify form has item NAME as minimum -->
	<script>
		$("#new_category").submit(function(event){
			var name = $("#categoryName").val();
			if (name == "") { 
				alert("Name is required!!!");
				event.preventDefault();
			} else {
				return;
			}
		})

	</script>

{% endblock %}	